{
  "presets": [["env", { "modules": false, "loose": true }]],
  "plugins": [
    "transform-runtime",
    "transform-object-rest-spread",
    ["transform-class-properties", { "spec": true }]
  ],
  "env": {
    "commonjs": {
      "presets": [["env", { "modules": "commonjs", "loose": true }]]
    }
  }
}
